

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/round-about.css" rel="stylesheet">
    <link href="/static/css/me.css" rel="stylesheet">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">标题起啥名</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">服务</a>
                    </li>

                    <li>
                        <a href="/app">安卓app</a>
                    </li>
                    <li>
                        <a href="#">关于</a>
                    </li>

                </ul>

                <nav class="nav" style="float:right; ">
                  <ul class="nav-list">
                      <li class="nav-item">
                          <a class="button-success pure-button" href="/login">登录</a>
                      </li>
                      <li class="nav-item">
                          <a class="button-success pure-button" href="/login">注册</a>
                      </li>
                  </ul>
                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>你好</small>
                </h1>
                <p>这是一名沉迷直播的粉丝做的基于bootstrap的网页。</p>
            </div>
        </div>
        -->
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">主播介绍</h2>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <a>
                <img class="img-anchor-head-div img-responsive img-center" src="https://raw.githubusercontent.com/068089dy/068089dy.github.io/master/image/chenyifa.png" alt="">
                <h2>陈一发儿
                    <small>斗鱼</small>
                </h2>
                <p>“知名”斗鱼主播，大家都亲切地称之为：发姐！有丧尸的粉丝称其为发妈妈（斗鱼TV发姐儿子遍天下）。</p>
              </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <a href = "">
                <img class="img-anchor-head-div img-circle img-responsive img-center" src="https://raw.githubusercontent.com/068089dy/068089dy.github.io/master/image/pigff.png" alt="">
                <h2>Pigff
                    <small>斗鱼</small>
                </h2>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
              </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <a href = "">
                <img class="img-anchor-head-div img-circle img-responsive img-center" src="https://raw.githubusercontent.com/068089dy/068089dy.github.io/master/image/paopao.jpg" alt="">
                <h2>yjjimpaopao
                    <small>斗鱼</small>
                </h2>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
              </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <a href = "">
                <img class="img-anchor-head-div img-circle img-responsive img-center" src="https://raw.githubusercontent.com/068089dy/068089dy.github.io/master/image/xuemm.jpg" alt="">
                <h2>雪mm
                    <small>斗鱼</small>
                </h2>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
              </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <a href = "">
                <img class="img-anchor-head-div img-circle img-responsive img-center" src="https://raw.githubusercontent.com/068089dy/068089dy.github.io/master/image/nvliu.png" alt="">
                <h2>女流66
                    <small>斗鱼</small>
                </h2>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
              </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
              <a href = "">
                <img class="img-anchor-head-div img-circle img-responsive img-center" src="https://raw.githubusercontent.com/068089dy/068089dy.github.io/master/image/chenyifa.png" alt="">
                <h2>John Smith
                    <small>斗鱼</small>
                </h2>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
              </a>
            </div>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
